{
  "plugins": ["react", "react-native", "@typescript-eslint", "prettier", "jest"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "react-native/react-native": true,
    "jest/globals": true
  },
  "rules": {
    "max-len": [2, 100, 2, { "ignoreUrls": true }],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "always",
        "endOfLine": "auto"
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".ts"]
      }
    ],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
